.list-container{
    max-width: 980px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.list-container ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
}

.list-container ul li{
    display: flex;
    flex-direction: column;
}

.list-container ul li img{
    max-width: 100%;
    max-height: 100%;
    border-radius:  5px 5px 0 0;
    padding-bottom: 10px;
    height: 100px;
}

.list-container ul li footer{
    flex: 1;
    border: 0;
    border-radius: 4px;
    background: #fff;

}

.list-container ul li footer p{
    text-align: left;
    padding: 5px 15px;
    font-size: 14px;
    line-height: 20px;
    color: #999;
}

.list-container ul li footer .titleMarket{
    background: rgb(255, 0, 85);
    border: 0;
    border-radius: 4px 4px 0 0;
    padding: 5px 5px 5px 5px;
}

.list-container ul li footer strong{
    font-size: 16px;
    color:#333;
}

.list-container ul li footer .titleMarket strong{
    color: #fff;
}

.list-container ul li .buttons{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
}

.list-container ul li .buttons button{
    height: 50px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    background: #fff;
}

.list-container ul li .buttons button:hover img{
    transform: translateY(-5px);
    transition: all 0.2s;
}

.list-container ul li .buttons img{
    max-height: 100%;
    padding: 5px 0 5px 0; 
}

.register-container{
    max-width: 980px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    background: rgb(255, 0, 85);
    border: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.form-title{
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

.register-container form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: space-around;
    width: 100%;
    margin-bottom: 50px;
    padding: 50px;
}


.register-container form label{
    color: #fff;
}

.register-container form input{
    margin-bottom: 20px;
    padding: 10px 20px;
    outline: none;
    border: 0;
    border-radius: 5px;
}

.register-container form .adress{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.register-container form .street{
    margin-right: 15px;
}

.register-container form .state,.stateEdit{
    width: 50%;
}

.register-container form .images{
    grid-template-columns: 1fr repeat(3,0.5fr);
    grid-gap: 5px;
}

.register-container form textarea{
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 10px 20px;
    outline: none;
    height: 80px;
    resize: none;
}

.register-container form button{
    margin-top: 50px;
    background: rgb(255, 0, 85);
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 10px 20px;
    color:#fff;
    cursor: pointer;
    transition: all 0.5s ease;
}

.register-container form button:hover{
    background: #fff;
    color: rgb(255, 0, 85);
    
}

#edit-container{
    background: rgb(97, 127, 209);
    border: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
  
#btn-edit{
    background: rgb(97, 127, 209);
}

#btn-edit:hover{
    background: #fff;
    color:rgb(97, 127, 209);
}
